<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karpós</title>
    
    <link rel="stylesheet" href="../css/home.css">
    
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../img/KarposBranco.png" alt="Logo Karpos">
            </div>
        </nav>
    </header>

    <main>
        <div class="conteudo-principal">
            <h1>DEMOCRATIZANDO A AGRICULTURA DE PRECISÃO</h1>
            <a href = "#" class = "botao">ENTRAR / REGISTRAR</a>
        </div>
    </main>

    <footer>
    <div class="footer-item">
        <div class="icone-circulo">
            <i class="ph-fill ph-headset"></i>
        </div>
        
        <div class="texto-info">
            <span class="titulo">PRECISA DE AJUDA?</span>
            <span class="email">sac@karpos.com</span>
        </div>
    </div>

    <div class="footer-item">
        <div class="icone-circulo">
            <i class="ph-fill ph-users-three"></i>
        </div>
        <div class="texto-info">
            <span class="titulo">TRABALHE CONOSCO</span>
            <span class="email">team@karpos.com</span>
        </div>
    </div>
</footer>
    
</body>
</html>