<%- include('includes/head')%>
<body>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <header>
        <nav>
            <div class="logo">
                <img src="./img/LogoKarposWhite.png" alt="Logo Karpos">
            </div>
        </nav>
    </header>

    <main>
        <div class="conteudo-principal">
            <h1>DEMOCRATIZANDO A AGRICULTURA DE PRECISÃO</h1>
            <a href = "/login" class = "botao">ENTRAR / REGISTRAR</a>
        </div>
    </main>

    <footer>
    <div class="footer-item">
        <div class="icone-circulo">
            <i class="ph-fill ph-headset"></i>
        </div>
        
        <div class="texto-info">
            <span class="titulo">PRECISA DE AJUDA?</span>
            <span class="email">sac@karpos.com</span>
        </div>
    </div>

    <div class="footer-item">
        <div class="icone-circulo">
            <i class="ph-fill ph-users-three"></i>
        </div>
        <div class="texto-info">
            <span class="titulo">TRABALHE CONOSCO</span>
            <span class="email">team@karpos.com</span>
        </div>
    </div>
</footer>

<%- include('includes/footer')%>