<%- include('includes/head') %>
<body>
    <div class="container">

        <!-- SIDEBAR -->
        <%- include('includes/navbar')%>

        <!-- MAIN CONTENT -->
        <main class="main-content">
            <!-- TOPBAR -->
            <%- include('includes/topbar')%>

            <!-- PAINEL PRINCIPAL - NOVO REGISTRO -->
            <section class="dashboard-panel">
                <div class="panel-header">
                    <div class="page-title">
                        <h1>Novo<br>Registro</h1>
                    </div>

                    <div class="panel-actions">
                        <button onclick="document.querySelector('.form-registro').submit()" class="btn btn-primary">Salvar</button>
                        <button onclick="window.location.href='/caderno-campo'" class="btn btn-outline">Cancelar</button>
                    </div>
                </div>

                <!-- Formulário -->
                <form class="form-registro" method="POST" action="/novo-registro">
                    <p class="msg-error"><%= msg %></p>
                    <!-- Data da Atividade -->
                    <div class="form-group-horizontal">
                        <div class="form-field">
                            <h3 class="field-title">Data da Atividade</h3>
                            <p class="field-subtitle">DD/MM/AAAA</p>
                            <input type="date" class="input-field" id="dataAtividade" name="dataAtividade">
                        </div>

                        <!-- Tipo de Atividade -->
                        <div class="form-field">
                            <h3 class="field-title">Tipo de Atividade</h3>
                            <p class="field-subtitle">Selecione o tipo</p>
                            <select class="input-field" id="tipoAtividade" name="tipoAtividade">
                                <option value="">Selecione o tipo</option>
                                <option value="Plantio">Plantio</option>
                                <option value="Colheita">Colheita</option>
                                <option value="Aplicação de Fertilizantes">Aplicação de Fertilizantes</option>
                                <option value="Irrigação">Irrigação</option>
                                <option value="Manutenção">Manutenção</option>
                                <option value="Outro">Outro/option>
                            </select>
                        </div>
                    </div>

                    <div class="form-field full-width">
                            <h3 class="field-title">Valor</h3>
                            <p class="field-subtitle">Valor negativo para custos e positivo para receitas</p>
                            <input type="number" name="valor" class="input-field" step="0.01" placeholder="R$ 0,00" required>
                        </div>

                    <!-- Notas -->
                    <div class="form-field full-width">
                        <h3 class="field-title">Notas</h3>
                        <p class="field-subtitle">Descreva como aconteceu a execução da atividade.</p>
                        <textarea class="textarea-field" id="notas" name="notas" rows="6" placeholder="Digite as observações..."></textarea>
                    </div>
                </form>
            </section>
        </main>
    </div>

    <script src="novo-registro.js"></script>
</body>
</html>
