<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %> - Karpós</title>
  <link rel="preload" href="/fonts/RooftopRegular.woff" as="font" type="font/woff" crossorigin>
  

  <!-- CSS principal (OBRIGATÓRIO) -->
  <link rel="stylesheet" href="./css/<%= css %>">

  <!-- CSS extra (OPCIONAL) -->
  <% if (typeof cssExtra !== 'undefined' && cssExtra) { %>
    <link rel="stylesheet" href="./css/<%= cssExtra %>">
  <% } %>
</head>