<aside class="sidebar">
            <div class="logo">
                <a href="/dashboard"><img src="./img/LogoFundoTransparenteKarpos.png" alt="Karpos Logo" class="logo-img"></a>
            </div>

            <div class="menu-section">
                <div class="menu-title">MENU</div>
                <div class="menu-item">
                    <span class="menu-icon">⊞</span>
                    <a style="color: inherit; text-decoration: none;" href="/dashboard">DASHBOARD</a>
                </div>
                <div class="menu-item">
                    <span class="menu-icon">📊</span>
                    <a style="color: inherit; text-decoration: none;" href="/caderno-campo">CADERNO</a>
                </div>
                <div class="menu-item">
                    <span class="menu-icon">🕐</span>
                    <a style="color: inherit; text-decoration: none;" href="/custos-registrados">HISTÓRICO</a>
                </div>
            </div>

            <div class="menu-section">
                <div class="menu-title">Geral</div>
                <div class="menu-item">
                    <span class="menu-icon">👤</span>
                    <span>PERFIL</span>
                </div>
                <div class="menu-item">
                    <span class="menu-icon">↪</span>
                    <a style="color: inherit; text-decoration: none;" href="/logout">LOGOUT</a>
                </div>
            </div>
        </aside>