<aside class="sidebar">
            <div class="logo">
                <img src="./img/LogoFundoTransparenteKarpos.png" alt="Karpos Logo" class="logo-img">
            </div>

            <div class="menu-section">
                <div class="menu-title">MENU</div>
                <div class="menu-item active">
                    <span class="menu-icon">⊞</span>
                    <span>DASHBOARD</span>
                </div>
                <div class="menu-item">
                    <span class="menu-icon">📊</span>
                    <span>ANÁLISES</span>
                </div>
                <div class="menu-item">
                    <span class="menu-icon">🕐</span>
                    <span>HISTÓRICO</span>
                </div>
            </div>

            <div class="menu-section">
                <div class="menu-title">Geral</div>
                <div class="menu-item">
                    <span class="menu-icon">ℹ</span>
                    <span>AJUDA</span>
                </div>
                <div class="menu-item">
                    <span class="menu-icon">👤</span>
                    <span>PERFIL</span>
                </div>
                <div class="menu-item">
                    <span class="menu-icon">↪</span>
                    <a style="color: inherit; text-decoration: none;" href="/logout">LOGOUT</a>
                </div>
            </div>
        </aside>