            <div class="topbar">
                <div class="header-profile">
                    <div class="profile-avatar">
                        <img src="/img/usuario.png" alt="Carlos Pereira">
                    </div>
                    <div class="profile-info">
                        <h3><%=dados.user%></h3>
                    </div>
                </div>
            </div>